a {
	color: #2d2d2d;
}

img {
	border:0;
}

body, table {
	font-family: Arial, Helvetica, sans-serif;
	text-align: left;
	font-size: 13px;
	color: #2d2d2d;
	padding: 0px;
	margin: 0px;
}

div.body {
	margin: 0 auto;

	margin-top: 60px;
	max-width: 900px;
	text-align: left;
	width: 800px;
}

div.header {
	max-height: 60px;
	max-width: 800px;
	height: 50px;
	width: 800px;
}

div.logo {
	padding-left: 5px;
	height: 60px;
	width: 260px;
	float: left;
}

div.panel {
	max-width: 530px;
	padding-top: 8px;
	height: 60px;
	width: 530px;
	float: right;
}

ul.buttons {
	margin-right: 5px;
	float: right;
}

ul.buttons li {
	border-left: 1px dotted #fff;
	background-color: #2d2d2d;
	text-align: center;
	list-style: none;
	min-width: 150px;
	height: 25px;
	float: left;
}

ul.buttons li:hover {
	background-color: #8d281e;
}

ul.buttons li.head {
	background-color: #8d281e;
	margin-right: 3px;
	min-width: 12px;
	border: none;
	width: 12px;
}

ul.buttons li.first {
	border-left: none;
}

ul.buttons a {
	text-decoration: none;
	padding-bottom: 4px;
	padding-top: 5px;
	font-size: 14px;
	display: block;
	color: #fff;
}

ul.buttons a:hover {
	padding-bottom: 4px;
	padding-top: 5px;
	display: block;
}

div.content {
	max-width: 800px;
	width: 800px;
}

table.bio {
	border-spacing: 5px;
	padding-left: 7px;
	width: 800px;
	border: 0px;
}

table.bio td.left {
	background-color: #f9f9f9;
	border: 1px #aaa solid;
	vertical-align: top;
	padding: 7px;
	width: 50%;
}

table.bio td.right {
	background-color: #f9f9f9;
	border: 1px #aaa solid;
	vertical-align: top;
	padding: 7px;
	width: 50%;
}

.right ul {
	list-style-type: square;
	padding-left: 20px;
	margin-left: 0px;
	padding-top: 0px;
	margin-top: 0px;
}

.subheader {
	margin-bottom: 10px;
	margin-top: 0px;
	font-size: 18px;
	display: block;
}

table.contacts {
	background-color: #ffffff;
	border-spacing: 3px;
	padding-left: 7px;
	margin-top: 5px;
	width: 800px;
	border: 0px;
}

table.contacts hr {
	border: 2px #2d2d2d solid;
}

table.contacts img {
	vertical-align: middle;
}

table.contacts td.left {
	float: left;
}

table.contacts td.right {
	float: right;
}
